@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
    background-image: linear-gradient(to bottom right, #f5f0fe, #eef5fc);
  }

  .using-mouse * {
    outline: none !important;
  }
}
