@import "@fontsource-variable/mona-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-main: "Mona Sans Variable", serif, sans-serif;
  }

  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply font-[var(--font-main)] text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
    background-image: linear-gradient(to bottom right, #f5f0fe, #eef5fc);
  }

  .using-mouse * {
    outline: none !important;
  }

  input,
  textarea {
    @apply border-[1px] border-[#f5f0fe] rounded focus:border-transparent focus:outline focus:outline-offset-1 focus:outline-violet-500;
  }
}
